.header{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 1em;
}

.navbar{
    text-align: right;
    padding-right: 1em;
    margin-right: 1em;
}

.mid{
    text-align: center
}
ol{
    list-style-type: ;
}

footer{
grid-row-end: 4;
}